<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GetPriorityTest.Properties.Settings.GetPropertyTetstConnectionString"
            connectionString="Data Source=LAPTOP-7BBHUUPD\MSSQLSERVER2;Initial Catalog=GetPropertyTetst;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>